/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

.stock-info-headerbglight {
    padding: 1rem;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 1rem;
}