# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment files
.env
server/.env

# Build and dist folders
dist/
client/dist/
server/dist/
server/ml/
server/venv/
ml/
venv/
createUser.js
# Database files
createUser.js
users.db
db.ts
server/util/dbUtils.ts
/server/users.db
server/db.ts
server/users.db-journal
server/users.db
# Logs
*.log

# OS / IDE / Editor files
.DS_Store
.vscode/
.idea/

