<div class="login-container">
    <mat-card class="login-card">
        <img src="../../../assets/stocks.svg" alt="StockTracker Logo" class="logo" style="width: auto; height: 30px;" />
        <h2>StockTracker</h2>
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Login">
                <form class="example-form" (ngSubmit)="onSubmit()" [formGroup]="loginForm" style="padding-top: 20px;">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com" />
                        <mat-hint>Errors appear instantly!</mat-hint>
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <mat-error>Please enter a valid email address</mat-error>
                        }
                        @if (emailFormControl.hasError('required')) {
                        <mat-error>Email is <strong>required</strong></mat-error>
                        }
                    </mat-form-field>

                    <!-- Password -->
                    <mat-form-field class="example-full-width">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide() ? 'password' : 'text'" formControlName="password" />
                        <button mat-icon-button matSuffix (click)="clickEvent($event)"
                            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide()">
                            <mat-icon>{{ hide() ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <button mat-raised-button color="primary" type="submit" class="example-full-width"
                        [disabled]="!loginForm.valid">
                        Login
                    </button>
                    <mat-error *ngIf="loginForm.hasError('invalidLogin')">
                        Invalid email or password
                    </mat-error>
                </form>
                <p class="example-text">Forgot your password? <a href="#">Click here</a> to reset it.</p>
                <p class="example-text">Don't have an account? <a href="#">Sign up</a></p>

            </mat-tab>
            <!-- <mat-tab label="SignUp">SignUp </mat-tab> -->

        </mat-tab-group>
    </mat-card>
    <mat-card class="example-card" appearance="outlined">

    </mat-card>
</div>