<p>peer-group works!</p>
<div *ngIf="company">
  <h2>{{ company.symbol }} Overview</h2>
  <p><b>Sector:</b> {{ company.profile.sector }}</p>
  <p><b>Industry:</b> {{ company.profile.industry }}</p>
  <p><b>Description:</b> {{ company.profile.description }}</p>
  <p><b>Country:</b> {{ company.profile.country }}</p>
  <p><b>Employees:</b> {{ company.profile.employees }}</p>

  <h3>Peers</h3>
  <ul>
    <li *ngFor="let peer of company.peers">
      {{ peer.symbol }} (score: {{ peer.score }})
    </li>
  </ul>
</div>
